<body class="p-3 mb-2 bg-dark text-white">
    <div class="card text-bg-dark mb-3 border-light text-center">
        <div class="card-body text-light">
            <h1 class="card-title">Dobrý den!</h1> <hr/>
            <p class="card-text">Vítejte na webovkách, co jsem pro Vás vytvořil v rámci výběrového řízení na pozici</p>
            <a href="https://rubyonrails.org/" class="btn btn-danger">RoR PROGRAMÁTOR</a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card-group">
            <div class="card text-center text-bg-dark mb-3 border-danger">
                <div class="card-body">
                    <h5 class="card-title" style="margin-bottom: 1rem">Moje slabiny</h5>
                    <li class="card-text">Nemám pracovní zkušenosti v IT</li>
                    <li class="card-text">Budu potřebovat čas, abych se v nové práci trochu rozkoukal</li>
                </div>
            </div>
            <div class="card text-center text-bg-dark mb-3 border-success">
                <div class="card-body">
                    <h5 class="card-title" style="margin-bottom: 1rem">Moje síly</h5> 
                    <li class="card-text">Rád se učím</li>
                    <li class="card-text">Baví mě práce v teamu</li>
                    <li class="card-text">Umím dělat dobré kafe</li>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-dark border-light">
        <h1 class="text-center text-light" style="margin-top: 1rem">Proč je dobrý nápad mě přijmout?</h1><hr class="text-light"/>
        <div class="d-flex justify-content-evenly bg-dark border-light">
            <div class="bg-dark text-center text-light">
                <h4>Kůstka</h4>
                <img src="/assets/cat1.png" style="width: 200px; height: 200px">
            </div>
            <div class="bg-dark text-center text-light">
                <h4>Bao</h4>
                <img src="/assets/Cat2.png" style="width: 200px; height: 200px">
            </div>
            <div class="bg-dark text-center text-light">
                <h4>Sushi</h4>
                <img src="/assets/Cat3.png" style="width: 200px; height: 200px">
            </div>
        </div>
        <div class="text-center text-light"> <hr/>
            <h3>Budete mít super nového kolegu</h3> <hr/>
            <h3>Rád pomůžu se vším, co bude třeba</h3> <hr/>
            <h3>Naše krásné kočičky budou mít co jíst</h3> <hr/>
            <h3>Rád si povídám a rád se učím</h3><hr/>
            <h3>Nebojím se práce</h3>
        </div>
    </div>
    <div class="card border-success bg-dark text-center text-success" style="margin-top: 2rem">
        <h1 style="margin-top: 1rem">Splnil jsem Vaše očekávání?</h1> <hr/>
        <h3>Prosím, dejte mi co nejdříve vědět a domluvíme se na dalším postupu</h3>
        <h6>Těším se na případnou spolupráci</h6>
    </div>
</body>